@inject IYouTrackService _youTrackService

<Card Image="check.png" Title="Solved today">
    @if (_solvedToday is null)
    {
        <h4>...</h4>
        <p class="m-0">...</p>
    }
    else
    {
        <h4>@_solvedToday.Count() issue(s) resolved today</h4>
        @foreach (var issue in _solvedToday)
        {
            <p class="m-0 text-truncate" title="@issue.Summary"><a href="@issue.Link"><b>@issue.Id</b> @issue.Summary</a></p>
        }
    }
</Card>

@code {
    private IEnumerable<YouTrackIssue> _solvedToday;

    protected override async Task OnInitializedAsync()
    {
        _solvedToday = await _youTrackService.FetchMyResolvedIssues(DateTime.Now);
    }
}
